PALWORLD_DATA_ROOT=/Users/epko/steamcmd-data/palworld
PALWORLD_CONTAINER_NAME=epko-palworld
PALWORLD_IMAGE=epko-palworld:fast-recovery-diagnostics-v2
PALWORLD_PORT=8211
PALWORLD_MEMORY_LIMIT=14g
PALWORLD_DOCKER_LOG_MAX_SIZE=8m
PALWORLD_DOCKER_LOG_MAX_FILE=2
PALWORLD_DOCKER_LOG_BUFFER_SIZE=4m
PALWORLD_RCON_ENABLED=0
PALWORLD_RCON_PORT=25575
PALWORLD_ADMIN_PASSWORD_FILE=./secrets/palworld_admin_password
PALWORLD_CONTROL_NETWORK=epko-palworld-control

BOX64_BASE_IMAGE=epko-base:pal-clock-monotonic-v3
BOX64_COMMIT=7eeb5016493dab4e143d53da50dd47bfb44a9509

# ARM64에서 시간 계산과 메모리 순서의 정확성을 우선하는 기본값이다.
BOX64_DYNAREC_STRONGMEM=3
BOX64_DYNAREC_BIGBLOCK=0
BOX64_DYNAREC_SAFEFLAGS=2
BOX64_DYNAREC_FASTROUND=0
BOX64_DYNAREC_FASTNAN=0
BOX64_DYNAREC_X87DOUBLE=1
BOX64_SYNC_ROUNDING=1
BOX64_LOG=0
BOX64_SHOWBT=1
BOX64_SHOWSEGV=1
BOX64_ROLLING_LOG=0

PAL_CLOCK_MODE=box64
PAL_CLOCK_NTP_REQUIRED=0
PAL_CLOCK_NTP_SERVERS=time.cloudflare.com time.google.com pool.ntp.org
