PALWORLD_DATA_ROOT=/Users/epko/steamcmd-data/palworld
PALWORLD_CONTAINER_NAME=epko-palworld
PALWORLD_PORT=8211
PALWORLD_MEMORY_LIMIT=14g
PALWORLD_ADMIN_PASSWORD_FILE=./secrets/palworld_admin_password
WATCHDOG_BUILD_CONTEXT=../watchdog/container

WATCHPAL_CONTAINER_NAME=watchpal
WATCHPAL_WEBHOOK_URL=
WATCHPAL_MEMORY_LIMIT=256m
WATCHPAL_CHECK_INTERVAL_SECONDS=10
WATCHPAL_STATUS_INTERVAL_SECONDS=60
WATCHPAL_CONSECUTIVE_SAMPLES=3
WATCHPAL_RESTART_COOLDOWN_SECONDS=1800
WATCHPAL_PUBLIC_ADDRESS=
WATCHPAL_PUBLIC_IP_LOOKUP_URL=https://api.ipify.org
WATCHPAL_PUBLIC_IP_REFRESH_SECONDS=3600
WATCHPAL_MEMORY_WARN_GIB=11
WATCHPAL_MEMORY_RECYCLE_GIB=12
WATCHPAL_MEMORY_EMERGENCY_GIB=13.5
WATCHPAL_MEMORY_HARD_LIMIT_GIB=14
PALWORLD_PERIODIC_SAVE_SECONDS=600
PALWORLD_SHUTDOWN_WARNING_SECONDS=30
PALWORLD_SHUTDOWN_TIMEOUT_SECONDS=240

# ARM64에서 시간 계산과 메모리 순서의 정확성을 우선하는 기본값이다.
BOX64_DYNAREC_STRONGMEM=3
BOX64_DYNAREC_BIGBLOCK=0
BOX64_DYNAREC_SAFEFLAGS=2
BOX64_DYNAREC_FASTROUND=0
BOX64_DYNAREC_FASTNAN=0
BOX64_DYNAREC_X87DOUBLE=1
BOX64_SYNC_ROUNDING=1
